/* Ad_Dashboard.css */
.dashboard-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
}

.graph-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.graph-box {
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 360px; 
}

.graph-box h2 {
  margin-bottom: 10px;
  text-align: center;
}

.info-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.notification-section {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  height: 360px;
  overflow-y: auto;
}